<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Spring Boot Thymeleaf Hello World Example</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand">Home page</a>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <h1 style="margin-top: 70px">Spring Boot Web Thymeleaf Example</h1>
    <h2>
      <span>TODO list</span>
    </h2>
  </div>

  <ol>
    <li>Sukurti controller'i</li>
    <li>Sukurti keleta end point'u</li>
    <li>Sukurti service klase, kuria naudotu controller'is</li>
    <li>Padaryti, kad controller'is naudotu service klases metoda/us</li>
    <li>Sukurti klase, kuri naudotu spring security web config'a</li>
    <li>Perrasyti configure metoda</li>
    <li>Padaryti, kad vienas end point'as butu be validacijos</li>
    <li>Kitas prieinamas tik autentifikuotiems naudotojams</li>
    <li>Padaryti, kad veiktu 'Home page' mygtukas (nukreiptu i default puslapi)</li>
  </ol>

</main>
<!-- /.container -->
</body>
</html>